@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    padding : 0 ;
    margin : 0 ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}
.background-color{
    width:100%;
    min-height: 100vh;
    display: flex;

}
.bg-1{
    flex:1;
    background-color: rgb(255,0,0);
}
.bg-2{
    flex: 1;
    background-color: rgb(241,241,241);
}
.about-container{
    width: 85%;
    min-height: 80vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 199, 199);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 24px 24px 30px rgb(104, 104, 104);

}
.image-container{
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.image-container img {
    width: 500px;
    height: 500px;
    transform: scale(0.7);
  }
  .text-container{
    flex: 1;
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
   
  }
  .text-container h1{
    font-size: 30px;
    padding: 10px 10px;

  }
  .text-container p{
    font-size: 22px;
    padding: 10px 10px;
    
  }

  